<strong>Olá, {{ name }} </strong>
<p>Seja bem-vindo à Gympoint, um novo mode de cuidar da uma saúde, veja os detalhes da sua matrícula:</p>
<p>
  <strong>Aluno: </strong> {{ name }} <br />
  <strong>Plano selecionado:</strong> {{ plan }} <br />
  <strong>Data de início informada:</strong> {{ start_dade }} <br />
  <strong>Data de término calculada:</strong> {{ end_date }} <br />
  <strong>Preço calculado:</strong> {{ price_calculed }} <br /> <br />
</p>
<p>
    Vamos lá começar esse treino? Estamos aguardando você!!!!
  </p>
  <p>
    Um forte abraço!!!!!
  </p>
