<strong>Olá, {{ name }} </strong>
<p>Seja bem-vindo(a) à Gympoint, um novo modo de cuidar da uma saúde. Veja os detalhes da sua matrícula:</p>
<p>
  <strong>Aluno(a): </strong> {{ name }} <br />
  <strong>Plano Selecionado:</strong> {{ plan }} <br />
  <strong>Data de início:</strong> {{ start_dade }} <br />
  <strong>Data de término:</strong> {{ end_date }} <br />
  <strong>Preço total do plano:</strong> {{ price_calculed }} <br /> <br />
</p>
<p>
    Vamos lá começar esse treino? Estamos aguardando você!!!!
  </p>
  <p>
    Um forte abraço!!!!!
  </p>
